* {

    margin: 0;
    padding: 0;
}

#nav {
    background-color: #006157;
    position: fixed;
    /* stick/fixed */
    top: 0;
    /* keep top */
      transition: top 0.3s;
    /* transition effect */
    width: 100%;
}

#nav a {
    
    color: white;
    display: block;
    float: right;
    font-family: 'Allerta';
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
}

#nav a:hover {
    background-color: #ddd;
    color: black;
}

* {
    /*page background colour general */
    background-color: #006157;
    color: #ffffff
}
.main {
    font-family: 'Allerta';
    font-size: 22px;
    text-align: center;
    background-color: #006157;
}

.desc {
    font-family: 'Allerta';
    font-size: 22px;
    text-align: center;
    background-color: #006157;
}

.parallax {
    background-attachment: fixed;
    background-image: url("climateprotest.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 25px;
}

.footer {
    bottom: 0;
    color: white;
    font-family: 'Allerta';
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
